{{- if .Values.global.inClusterMode }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kube-stack.fullname" . }}-manager-role
  labels:
  {{- include "kube-stack.labels" . | nindent 4 }}
rules:
- apiGroups:
  - "*"
  resources:
  - "*"
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - centralprobe.kube-stack.me
  resources:
  - centralprobes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - centralprobe.kube-stack.me
  resources:
  - centralprobes/finalizers
  verbs:
  - update
- apiGroups:
  - centralprobe.kube-stack.me
  resources:
  - centralprobes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - podlimiter.kube-stack.me
  resources:
  - podlimiters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - podlimiter.kube-stack.me
  resources:
  - podlimiters/finalizers
  verbs:
  - update
- apiGroups:
  - podlimiter.kube-stack.me
  resources:
  - podlimiters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - podmarker.kube-stack.me
  resources:
  - podmarkers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - podmarker.kube-stack.me
  resources:
  - podmarkers/finalizers
  verbs:
  - update
- apiGroups:
  - podmarker.kube-stack.me
  resources:
  - podmarkers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - slo.kube-stack.me
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - slo.kube-stack.me
  resources:
  - resourcestatetransitions/finalizers
  verbs:
  - update
- apiGroups:
  - slo.kube-stack.me
  resources:
  - resourcestatetransitions/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kube-stack.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kube-stack
    app.kubernetes.io/part-of: kube-stack
  {{- include "kube-stack.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "kube-stack.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "kube-stack.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
{{- end }}
