apiVersion: podmarker.kube-stack.me/v1
kind: PodMarker
metadata:
  labels:
    app.kubernetes.io/name: podmarker
    app.kubernetes.io/instance: podmarker-sample
    app.kubernetes.io/part-of: kube-stack
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: kube-stack
  name: podmarker-sample
spec:
  # TODO(user): Add fields here
  selector:
    matchLabels:
      app: vm
  addLabels:
    podIP: "{.status.podIP}"
  markLabel:
    name: testKey
    values:
    - replicas: 2
      value: one
    - replicas: 3
      value: two
    - weight: 10
      value: test
    - weight: 90
      value: tttt